<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>

    <%- include('../components/global') %>
</head>

<body>
    <h1>Hello World</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        quidem.
    </p>
</body>

</html>